.products {
  margin-bottom: 2rem;
}

.store-section {
  max-width: 100rem;
  margin: 0 auto;
  background-color: var(background-primary-color);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  li {
    cursor: pointer;
  }
}

.bg-down {
  width: 100%;
  & img {
    width: 100%;
    height: 100%;
  }
}
