.product-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  & p {
    text-align: center;
  }

  & b {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-image {
  z-index: 0;
  position: relative;
  max-width: 100%;
}

.product-img {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  width: 500px;
}
