.info-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.info-product div {
  text-align: center;
  padding: 2rem;
  border: 1px solid #d3c9c9;
}
