:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-primary-color: #dcdae9;
  --background-secondary-color: #d3cce3;
  --text-primary-color: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary-color);
}
