:root {
  --background-primary-color: #dcdae9;
  --background-secondary-color: #d3cce3;
  --text-primary-color: black;

  font-family: "Century Gothic", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary-color);
}

@font-face {
  font-family: "Century Gothic";
  src: url("./assets/font/centurygothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
