header {
  background-color: var(--background-secondary-color);
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  align-items: center;
  z-index: 1000;
  & a {
    display: flex;
  }
}

svg {
  cursor: pointer;
}

.icon-menu-navbar {
  justify-content: start;
}

.section-logo-navbar {
  justify-content: center;
}

.icons-section-navbar {
  justify-content: end;
}

.section-logo-navbar {
  display: flex;
}

.icon-menu-navbar {
  display: flex;
}

.image-logo {
  top: 0;

  width: 70px;
  height: 70px;
}

.icons-section-navbar {
  display: flex;
  gap: 1rem;
}

/* Estilos básicos del menú */
.side-menu {
  position: fixed;
  top: 80px;
  left: -400px;
  width: 400px;
  height: 100%;
  background-color: var(--background-secondary-color);
  color: white;
  transition: left 0.3s ease;
  z-index: 999;
}

.side-menu-grid {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  height: 100%;
  overflow-y: auto;
}

/* Estilo del menú cuando está abierto */
.side-menu.open {
  left: 0;
}

/* Estilos del menú (enlaces, etc.) */
.side-menu ul {
  border-top: 1px solid rgba(86, 85, 90, 0.1);
  position: relative;
  list-style: none;
  /* padding: 20px; */
}

.side-menu ul li {
  & a {
    padding: 1.1rem 3rem;
  }

  & :hover {
    background-color: rgba(86, 85, 90, 0.1);
  }
}

.side-menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.menu-footer-links {
  display: flex;
  flex-direction: row;
  background-color: rgba(86, 85, 90, 0.1);
  padding: 2rem 3rem;
  margin-bottom: 80px;

  & a {
    cursor: pointer;
  }
}
